doctype html
html
  head
    title Customers
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
  body.p-5
    div.row
        div.col-2
        div.col-6
            table.table.table-striped
                thead
                    each customer in customers
                        tr
                            td #{customer.firstname}
                            td #{customer.lastname}
                            td #{customer.email}
                            td #{customer.phone}